# .gitignore
.idea/
node_modules/
*/.cache
*/tmp
*/log/*.*
**/db.js
build/
lib/
.vscode/
.env

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Node.js
*.log
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
